@model IEnumerable<CrudProjection.Models.Odam>
@{
    ViewBag.Title = "Все пользователи";
}

<a asp-action="Create"class="btn btn-primary">Добавить пользователя</a>
<table class="table">
    <tr><td>Имя</td></tr>
   @foreach (var item in Model)
    {
        <tr><td>@item.FirstName</td>
            <td>
                <a asp-action="Details" asp-controller="Home" asp-route-id="@item.Id"class="btn btn-primary">Подробнее</a>
                <a asp-action="Edit" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-primary">Изменить</a>
                <a asp-action="Delete" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-primary">Удалить</a>

            </td>
        
        </tr>
    }
</table>

